{% extends "base.html" %}

{% block title %}Главная{% endblock %}


{% block body %}
<div class="main_container">
       <div class="header">
           <div class="h_container">
               <ul>
                   <li>
                       <a href="" class="navigate_btn" data-active="true">
                           Главная
                       </a>
                   </li>
                   <li>
                       <a href="" class="navigate_btn" data-active="false">
                           Настройки
                       </a>
                   </li>
                   <li>
                       <div class="btn_user">
                           <!--                        <img src="" alt="">-->
                           <div style="border-radius: 100%; width: 40px; height: 40px; background-color: #ababab; margin-right: 7px; display: flex; justify-content: center; align-items: center">
                               ИФ
                           </div>
                           <div class="user_label">Имя Фамилия</div>
                       </div>
                   </li>

               </ul>
           </div>
       </div>
       <div class="body">
            <div class="b_container">

            </div>
       </div>
<!--       <div class="footer">-->

<!--       </div>-->
   </div>
{% endblock %}