<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">-->
    <link rel="stylesheet" href="../static/auth.css">
    <script defer>
        send_btn = document.querySelector(".send-btn")


    </script>
    <title>Регистрация</title>
</head>

<body>
<form method="post">
    <h2>Регистрация</h2>
    <input type="text" id="f_name" name="f_name" placeholder="Name" required>
    <input type="text" id="l_name" name="l_name" placeholder="Surname" required>
    <input type="password" id="password" name="password" placeholder="Password" required>
    <input type="password" id="password2" name="password2" placeholder="Retype password" required>
    <button class="send_btn" onclick="return false">Зарегистрироваться</button>
</form>
</body>